-----BEGIN CERTIFICATE-----
MIIDMzCCAh8CFAQSpWvtoTfpOzO/9tEIG5J1FUGLMA0GCSqGSIb3DQEBCwUAMFox
DjAMBgNVBAgMBVRva3lvMREwDwYDVQQHDAhUb2t5by10bzESMBAGA1UECgwJRm9j
dXNSb29tMQwwCgYDVQQLDANEZXYxEzARBgNVBAMMCmRldmRldi5jb20wHhcNMjMw
NjI2MDY1NzUzWhcNMzMwNjIzMDY1NzUzWjBaMQ4wDAYDVQQIDAVUb2t5bzERMA8G
A1UEBwwIVG9reW8tdG8xEjAQBgNVBAoMCUZvY3VzUm9vbTEMMAoGA1UECwwDRGV2
MRMwEQYDVQQDDApkZXZkZXYuY29tMIIBHjANBgkqhkiG9w0BAQEFAAOCAQsAMIIB
BgKB/gDaK81jUF1X72Hsd8yXcZzFUDXJ5lHV6znx3GidbuN/F9r1eXb4LiN7V+GJ
JQuMJCrVGt0QoI8jvBin6n1QjckBfzYzalKfSDMomQ00eKx2Xc3EknyyktEC+Sdb
THHk7F7CWof8wU5QDY9jKTYN2+M4AldouVYXU1787b/oWdXhxgnT+5+99du03co6
zlhkpcb94UsL7lcZLO6vkKYYcTFMGpaUmZvgowitL+MoV2UcQ2cpv50ADlmdTp1x
qMxvUPR14MRWYBzUW5G/JH4KpQwPfAUqx9lg54NCzyXSIEzuvoOSU+aTGhRoGioz
SEkgyo2A+iTI63Lnac+HskwrAgMBAAEwDQYJKoZIhvcNAQELBQADgf4AxOGx2Lw0
8w5xev9ncmqClYH4USF4Ud65ESi/Qs1z77+5OfvsYaxwj9Btf2erherIRPWZkO+l
LCWBBAZDGXboizf8TW+uSKixJ2z7GDbYhT6gTnRPjHNevcgFOW/w4wt4uw3eFHgf
Va42ys/TeZXZhIOBPqK741peHE8DZmOWcY0etrMEuOyz4gcmL56x8awl1PLQAdtg
ySnrjJ/M8CLluvqL0hpbaYhxhRcMguO024QN2DmuldjtejX8CQ6wC19ZHt6/0l1t
qjeU5Kkfbc98gnOl/4v+ZTdUUSpUSUwZXySbbixSNboe0fKg5iP+Qs5YTKQF5WD6
134GHzJC9A==
-----END CERTIFICATE-----
